/*=========================*/
/*NAVIGATION BAR*/
/*==========================*/
.navbar {
	background-color: black;
	color: white;
}
.navbar a{
	color: white;
}
.navbar .fa {
	font-size: 2em;
}
/*=============================*/
/*BODY*/
/*=============================*/

body {
	/*color: rgb(194, 220, 213);*/
	color:white;
	background-image: url("/img/cubes_1280x856.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#video-box {
	background-color:rgba(33, 33, 43, 0.7);
	padding: 5%;
}
#video-box img {
	margin-left: auto;
	margin-right: auto;
}
#button-box {
	text-align: center;
}
.btn {
	font-size: x-large;
	margin: 30px;
}

h1 {
	font-family: 'Poiret One', 'Helvetica', 'sans-serif';
	text-align: center;
	font-size: 60px;
	margin: 60px 20px 50px;
}

p {
	margin: 30px;
}