/*=========================*/
/*NAVIGATION BAR*/
/*==========================*/
.navbar {
	background-color: black;
	color: white;
}
.navbar a{
	color: white;
}
.navbar .fa {
	font-size: 2em;
}

/*=========================*/
/*FIRST SECTION*/
/*=========================*/

#Ella-jumbotron {
	font-family: 'Nothing You Could Do', 'Helvetica', 'sans-serif';
	margin-top: 150px;
	margin-bottom: 50px;
	text-align: center;
	background-color: rgba(22, 19, 19, 0.5);
	color: white;
}

/*============================*/
/*GALLERY SECTION*/
/*============================*/
#swipe-container {
	margin-top: 20%;
	margin-bottom: 20%;
}

/*==========================*/
/*ABOUT SECTION*/
/*==========================*/

/*change of text color for mobile poppy background*/
@media screen and (max-width: 768px) {
	#about-section article {
		color: white;
		background-color: rgba(22, 19, 19, 0.5);
		border-radius: 6px;
		padding: 30px 15px;
	}
	.btn {
		background-color: rgba(22, 19, 19, .5);
	}
}
#about-section article {
	margin-top: 10%;
	margin-bottom: 10%;
	color: white;
}
#about-section h2 {
	font-family: 'Nothing You Could Do', 'Helvetica', 'sans-serif';
	text-align: center;
}
/*===========================*/
/*CONTACT SECTION*/
/*===========================*/

#form-box{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	background-color: rgba(243, 243, 243, 0.6);
}
#form-box textarea {
	resize: none;
}

#form-box .form-control {
	background-color: rgba(255, 255, 255, 0.75);
}
#contact-section h2 {
	font-family: 'Nothing You Could Do', 'Helvetica', 'sans-serif';
}

.response-message {
	font-family: 'Nothing You Could Do', 'Helvetica', 'sans-serif';
	font-size: 14px;
}

@media screen and (max-width: 768px) {

	#form-box{
		background-color:rgba(22, 19, 19, 0.5);
		color:white;
	}
	#form-box .form-control {
		background-color: rgba(22, 19, 19, 0.3);
		color: white;
	}
}
/*=========================*/
/*FOOTER*/
/*=========================*/

footer {
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 2px;
}
footer a {
	color: white;
}

/*=======================*/
/*BACKGROUND*/
/*=======================*/
/*Background for mobile version*/
@media screen and (max-width: 768px){
	body {
		background-image: url("/img/poppies-mobile.jpg");
	}
}

.sizedBackground {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

section {
	height: auto;
}

section.parallax {
	background-position: 50% 0;
	margin: 0 auto;
	position: relative;
}

/*multiple background images for desktop site*/
@media screen and (min-width: 769px) {

	#landing-section {
		background-image: url("/img/poppies_1920x1280.jpg");
	}

	#gallery-section {
		background-image: url("/img/sun-rise_1280x853.jpg");
	}

	#about-section {
		background-color: black;
	}
	#contact-section {
		background-image: url("/img/mailbox-1920x1280.jpg");
	}
}

/* this loads a large background image for Retina-type displays */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	#welcome {
		background-image: url("/img/poppies-retina.jpg");
		/*background-size: 2000px 1500px;*/
	}
}


/*Fixed background for mobile version*/
/*@media screen and (max-width: 768px){*/
	/*section {*/
		/*height: auto;*/
	/*}*/
	/*body {*/
		/*background-image: url("/img/poppies-mobile.jpg");*/
		/*background-repeat: no-repeat;*/
		/*background-attachment: fixed;*/
	/*}*/
/*remove desktop background images for mobile*/
	/*.desktop-background-img {*/
		/*display: none;*/
	/*}*/
/*}*/

/*==================================*/
/*ELEMENT MARGINS FOR LARGER SCREENS*/
/*===================================*/
@media screen and (min-width: 769px) {
	#Ella-jumbotron {
		margin-top: 150px;
		margin-bottom: 100px;
	}
}

@media screen and (min-width: 1200px) {
	#form-box{
		margin-top: 100px;
		margin-bottom: 100px;
	}
	#Ella-jumbotron {
		margin-top: 250px;
		margin-bottom: 200px;
	}
}

