/*=========================*/
/*NAVIGATION BAR*/
/*==========================*/
.navbar {
	background-color: black;
	color: white;
}
.navbar a{
	color: white;
}
.navbar .fa {
	font-size: 2em;
}

/*=========================*/
/*FIRST SECTION*/
/*=========================*/

#Ella-jumbotron {
	font-family: 'Nothing You Could Do', 'Helvetica', 'sans-serif';
	margin-top: 20%;
	/*margin-bottom: 20%;*/
	text-align: center;
	background-color: rgba(22, 19, 19, 0.5);
	color: white;
}
/*this is set to work with the parallax effect*/
#landing-section {
	height: 800px;
}

/*============================*/
/*GALLERY SECTION*/
/*============================*/
#swipe-container {
	margin-top: 20%;
	margin-bottom: 20%;
}

/*==========================*/
/*ABOUT SECTION*/
/*==========================*/

/*change of text color for mobile poppy background*/
@media screen and (max-width: 768px) {
	#about-section article {
		color: white;
		background-color: rgba(22, 19, 19, 0.5);
		border-radius: 6px;
		padding: 30px 15px;
	}
	.btn {
		background-color: rgba(22, 19, 19, .5);
	}
}
#about-section article {
	margin-top: 10%;
	margin-bottom: 10%;
	color: white;
}
#about-section h2 {
	font-family: 'Nothing You Could Do', 'Helvetica', 'sans-serif';
	text-align: center;
}
/*===========================*/
/*CONTACT SECTION*/
/*===========================*/
/*this is set to work with the parallax effect*/
#contact-section {
	height: 800px;
}

#form-box{
	margin-top: 20%;
	/*margin-bottom: 20%;*/
	text-align: center;
	background-color: rgba(243, 243, 243, 0.6);
}
#form-box .form-control {
	background-color: rgba(255, 255, 255, 0.75);
}
#contact-section h2 {
	font-family: 'Nothing You Could Do', 'Helvetica', 'sans-serif';
}
@media screen and (max-width: 768px) {

	#form-box{
		background-color:rgba(22, 19, 19, 0.5);
		color:white;
	}
	#form-box .form-control {
		background-color: rgba(22, 19, 19, 0.3);
		color: white;
	}
}
/*=======================*/
/*BACKGROUND*/
/*=======================*/
section.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	margin: 0 auto;
	position: relative;
}

/*section {*/
	/*background-size: cover;*/
/*}*/

@media screen and (min-width: 769px) {
	#landing-section {
		background-image: url("/img/poppies_1920x1280.jpg");
	}

	#gallery-section {
		background-image: url("/img/sun-rise_1280x853.jpg");
	}

	#about-section {
		background-color: black;
	}
	#contact-section {
		background-image: url("/img/mailbox-1920x1280.jpg");
	}
}

/*Fixed background for mobile version*/
@media screen and (max-width: 768px){
	body {
		background-image: url("/img/poppies-mobile.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
/*remove desktop background images for mobile*/
	.desktop-background-img {
		display: none;
	}
}
/*@media screen and (min-width: 769px) {*/


